@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --width-content:1100px;
    --font-title: "Neucha", cursive;
}

body{
    margin: 0;
    padding: 0;
}
main{
    --white: #fff;
    --half-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --half-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;

}


*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--dark);
    line-height: 1.6em;
}




h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}




header {
    position: relative;
    width: 1440px;
    height: 914px;
}

header:before {
    content: url('/layout-designer-project-58/src/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 6%;
    z-index: 0;
}

h1 {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    font-size: 72px;
    color: var(--main);
    z-index: 1;
}
.highlight {
    color: var(--main-dark);
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    font-size: 72px;
    z-index: 1;
}


.main-name {
    position: absolute;
    width: 1138px;
    height: 258px;
    top: 100px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    z-index: 2;
}

.first-img {
    position: absolute;
    width: 1082.81px;
    height: 525px;
    top: 55px;
    left: 461px;
    gap: 0px;
    opacity: 0px;
    z-index: 1;
}

.text-1 {
    position: absolute;
    width: 540px;
    height: 141px;
    top: 543px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    line-height: 25.6px;
    text-align: left;
}



.text-2 {
    position: absolute;
    width: 540px;
    height: 186px;
    top: 539px;
    left: 735px;
    gap: 0px;
    opacity: 0px;
    line-height: 25.6px;
    text-align: left;
}

.first-button {
    position: absolute;
    width: 148px;
    height: 49px;
    top: 765px;
    left: 735px;
    padding: 11px 23px 12px 24px;
    gap: 12px;
    opacity: 0px;
    background-color: var(--main);
    border: none;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;

}

section {
    text-align: center;
    /* max-width: 1100px; */
    /* margin-top: 100px;
    margin-bottom: 100px; */

}


.video-section {
    position: relative;
    width: 1440px;
    height: 914px;
    background-color: var(--white);
    text-align: center;

    width: var(--width-content);

}

.main-name-video {
    position: absolute;
    top: 100px;
    left: 165px;
    z-index: 2;
    width: 1110px;
    height: 146px;
    margin-bottom: 30px;

}

.text-video {
    position: absolute;
    width: 1110px;
    height: 26px;
    top: 273px;
    /* left: 165px; */
    


}


.video {
    margin-top: 100px;
    position: absolute;
    width: 919px;
    height: 569px;
    top: 329px;
    left: 261px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}


.navigation-section {
    width: 100%;
    height: 991px;
    margin: 0;

    background-color: var(--main-dark);
    

    display: flex;
    justify-content: center; /* Центрируем основной контейнер по горизонтали */
    align-items: center;
}

.cards {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
    justify-content: space-between; /* Равномерно распределяет элементы */
    max-width: 1100px; /* Ограничиваем ширину до 1100 пикселей */
    width: 100%; /* Чтобы контейнер занял всю возможную ширину */
    gap: 20px; /* Отступы между карточками */

    

}

.card-small {
    flex: 0 1 calc((100% - 40px) / 3); /* Три карточки в ряд с равными отступами */
    height: 323px;
    width: 350px;
    background-color: #F5F4F0;
    box-sizing: border-box; /* Учитываем границы в расчете ширины */
    padding: 24px;
    text-align: left;
}


.card-big {
    flex: 0 1 calc((100% - 40px) / 3); /* Три карточки в ряд с равными отступами */
    height: 348px;
    width: 350px;
    background-color: #F5F4F0;
    box-sizing: border-box; /* Учитываем границы в расчете ширины */
    padding: 24px;
    text-align: left;
}

.card-1 {
    flex: 0 1 calc((100% - 40px) / 3); /* Три карточки в ряд с равными отступами */
    height: 323px;
    box-sizing: border-box; /* Учитываем границы в расчете ширины */
    padding: 0%;
}

h2 {
    font-family: var(--font-title);
    font-size: 52px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: left;
    color: var(--main); 
}

.card-1 h2 {
    margin: 0; /* Убирает внешний отступ */
    padding: 0; /* Убирает внутренний отступ, если есть */
}

h2 span {
    font-family: var(--font-title);
    font-size: 52px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: left;
    color: var(--white);
}

a {
    text-decoration: none;
}



.card-small h3 {
    font-family: var(--font-title);
    font-size: 64px;
    text-align: left;
    color:#42413C;
    margin-top: 0;
    margin-bottom: 40px;

    line-height: 1em;

}

.card-small h4 {
    font-size: 34px;
    font-family: var(--font-title);
    color: var(--main);

    margin-top: 0;
    margin-bottom: 0;
    line-height: 40.8px;
}

.card-small p {
    color: var(--dark);
    font-size: 16px;

    line-height: 25.6px;

}


.card-big h3 {
    font-family: var(--font-title);
    font-size: 64px;
    text-align: left;
    color:#42413C;
    margin-top: 0;
    margin-bottom: 40px;

    line-height: 1em;

}

.card-big h4 {
    font-size: 34px;
    font-family: var(--font-title);
    color: var(--main);

    margin-top: 0;
    margin-bottom: 0;
    line-height: 40.8px;
}

.card-big p {
    color: var(--dark);
    font-size: 16px;

    line-height: 25.6px;

}